@media (max-width: 640px) {
	.container{
		margin-top: 15px;
	}
	.container img{
		display: block;
		margin: 0px auto;
	}
	.container .message{
		margin-top: 10px;
		text-align: center;
	}
}

@media (min-width: 768px) {
	.container{
		margin-top: 20px;
	}
	.container .message{
		margin-top: 90px;
	}
}

@media (min-width: 992px) {
	.container{
		margin-top: 50px;
	}
	.container .message{
		margin: 155px 0px 0px 30px;
	}
}



